USE [master]
GO
/****** Object:  Database [MCA_123]    Script Date: 22-07-2026 10:47:18 ******/
CREATE DATABASE [MCA_123]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MCA_123', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\MCA_123.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MCA_123_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\MCA_123_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MCA_123].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MCA_123]
GO
/****** Object:  Table [dbo].[DEPOSIT]    Script Date: 22-07-2026 10:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPOSIT](
	[ACTNO] [int] NULL,
	[CNAME] [varchar](50) NULL,
	[BNAME] [varchar](50) NULL,
	[AMOUNT] [decimal](8, 2) NULL,
	[ADATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 22-07-2026 10:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EID] [int] NOT NULL,
	[FIRSTNAME] [varchar](50) NOT NULL,
	[LASTNAME] [varchar](50) NOT NULL,
	[DEPARTMENT] [varchar](50) NOT NULL,
	[SALARY] [decimal](10, 2) NOT NULL,
	[CITY] [varchar](50) NULL,
	[GENDER] [varchar](15) NOT NULL,
	[JOININGYEAR] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 22-07-2026 10:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[STDID] [int] NULL,
	[SNAME] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[SPI] [decimal](4, 2) NULL,
	[BRANCH] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DEPOSIT] ([ACTNO], [CNAME], [BNAME], [AMOUNT], [ADATE]) VALUES (101, N'MEET', N'MAVDI', CAST(10000.00 AS Decimal(8, 2)), CAST(N'2025-01-02T00:00:00.000' AS DateTime))
INSERT [dbo].[DEPOSIT] ([ACTNO], [CNAME], [BNAME], [AMOUNT], [ADATE]) VALUES (102, N'JAY', N'MADHAPAR', CAST(5000.00 AS Decimal(8, 2)), CAST(N'2026-04-01T00:00:00.000' AS DateTime))
INSERT [dbo].[DEPOSIT] ([ACTNO], [CNAME], [BNAME], [AMOUNT], [ADATE]) VALUES (103, N'RAHUL', N'BEDI', CAST(3500.00 AS Decimal(8, 2)), CAST(N'2026-07-01T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[EMPLOYEE] ([EID], [FIRSTNAME], [LASTNAME], [DEPARTMENT], [SALARY], [CITY], [GENDER], [JOININGYEAR]) VALUES (101, N'HETVI', N'PATEL', N'ADMIN', CAST(12000.00 AS Decimal(10, 2)), N'RAJKOT', N'FEMALE', CAST(N'2026-01-01' AS Date))
INSERT [dbo].[EMPLOYEE] ([EID], [FIRSTNAME], [LASTNAME], [DEPARTMENT], [SALARY], [CITY], [GENDER], [JOININGYEAR]) VALUES (102, N'RAJ', N'MEHTA', N'IT', CAST(14000.00 AS Decimal(10, 2)), N'AHMEDABAD', N'MALE', CAST(N'2022-01-01' AS Date))
INSERT [dbo].[EMPLOYEE] ([EID], [FIRSTNAME], [LASTNAME], [DEPARTMENT], [SALARY], [CITY], [GENDER], [JOININGYEAR]) VALUES (103, N'VISHAL', N'SHARMA', N'HR', CAST(15000.00 AS Decimal(10, 2)), N'BARODA', N'MALE', CAST(N'2020-01-01' AS Date))
GO
INSERT [dbo].[STUDENT] ([STDID], [SNAME], [CITY], [SPI], [BRANCH]) VALUES (101, N'HETVI', N'RAJKOT', CAST(7.40 AS Decimal(4, 2)), N'COMPUTER')
INSERT [dbo].[STUDENT] ([STDID], [SNAME], [CITY], [SPI], [BRANCH]) VALUES (102, N'RAJ', N'MORBI', CAST(9.50 AS Decimal(4, 2)), N'MECHANICAL')
INSERT [dbo].[STUDENT] ([STDID], [SNAME], [CITY], [SPI], [BRANCH]) VALUES (103, N'VISHAL', N'RAJKOT', CAST(9.00 AS Decimal(4, 2)), N'CIVIL')
GO
USE [master]
GO
